.work{
    margin-top : 50px;
}
.work:first-of-type{
    margin-top : 100px;
}

.work__img-container{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    vertical-align: middle;
    width: 60%;
    display: inline-block;
    padding: 0px;
    /* margin-bottom: 25px; */
}
.work__img-container:last-of-type{
    margin-bottom: 50px;
}

.work:nth-child(even){
    text-align: right;
}

.work__img-container:nth-child(even){
    box-shadow: -2px 2px 2px 2px rgba(0,0,0,0.5);
}

.work__img{
    display: block;
    width: 100%;
}

.work__info{
    vertical-align: middle;
    display: inline-block;
    width: 30%;
    padding: 10px;
    text-align: left;
}

.work__info:nth-child(even){
    text-align: right;
}


.work__info__title{
    font-family: 'Hachi Maru Pop', cursive;
    color: rgb(241,60,31);
    margin: 3px;
}

.work__info__year{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(64,86,161);
    font-weight: bold;
    margin: 0px;
}

.work__info__text{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    color: rgb(64,86,161);
}