*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background:  rgb(197,203,227);
}

.main-header {
    background-color: rgba(239,225,186,1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main-header  div {
    display: inline-block;
    vertical-align: middle; 
    height: 3rem;
}

.main-header__logo {
    display: inline-block;
    height: 100%;
}

.main-header__logo img {
    height: 100%;
}

.main-nav {
    display: inline-block;
    text-align: left;
    width: calc(100% - 217px);
    vertical-align: middle;
}

.main-nav__list{
    margin: 0 1rem;
    list-style: none;
    text-align: center;
}

.main-nav__elt{
    display: inline-block;
    margin: 0 0.75rem;
    font-family: 'Hachi Maru Pop', cursive;
    
}

.main-nav__elt a {
    font-size: 1.5rem;
    color: rgb(64,86,161);
    text-decoration: none;
    padding : 0.75rem 0.3rem 0.3rem 0.3rem;
}

.main-nav__elt a:hover,
.main-nav__elt a:active{
    
    border-bottom: 2px solid rgb(64,86,161);
}