*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background:  rgb(197,203,227);

}

.main-header {
    background-color: rgba(239,225,186,1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* border: 1px red solid; */
    height: 3rem;
}

.main-header__logo-container{
    display: inline-block;
    position: absolute;
    right: 0;
    vertical-align: middle; 
    height: 100%;
    text-align: right;
    /* width: calc(100% - 66px); */
}


.main-header__logo img {
    height: 100%;
}

.main-nav {
    display:none;
}

.main-nav__list{
    margin: 0 1rem;
    list-style: none;
    text-align: center;
}

.main-nav__elt{
    display: inline-block;
    margin: 0 0.75rem;
    font-family: 'Hachi Maru Pop', cursive;
    
}

.main-nav__elt a {
    font-size: 1.5rem;
    color: rgb(64,86,161);
    text-decoration: none;
    padding : 0.75rem 0.3rem 0.3rem 0.3rem;
}

.main-nav__elt a:hover,
.main-nav__elt a:active{
    
    border-bottom: 2px solid rgb(64,86,161);
}

.hamburger-menu{

    height: 3rem;
    padding: 0.5rem 0;
    float: left;
    vertical-align: middle;
    display: inline-block;
    
}

.hamburger-menu a img {
    height: 2rem;
    
}


#second-logo{
    display: none;
}

@media (min-width:40rem){
    .main-header__logo-container{
        position: static;
    }
    .main-nav {
    display: inline-block;
    text-align: left;
    width: calc(100% - 217px);
    vertical-align: middle;
    }
    .hamburger-menu{
        display: none;
    }
    #second-logo {
        display: inline-block;
        position: absolute;
        right: 0;
    }
}